body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

p {
  margin: 0;
}

.main-container {
  height: 120vh;
  width: 96vw;
  position: absolute;
  left: 80px;

  overflow:scroll;
  background-color: #101f29
}

.main-page {
  height: 100vh;
  width: 94vw;
  display:flex;
}

.main-page .menu {
  height: 100vh;
  width: 27vw;
}

.progress {
  margin: 27px 30px 32px 35px;
  display: flex;
}
.progress-bar {
  height: 3px;
  width: 100px;
  background: rgba(255,255,255,.4);
  border-radius: 50px;
  margin-right: 5px;
}

.main-page .slideshow {
  position: relative;
  height: 100vh;
  width: 69vw;
}

.main-page .slideshow .mute-icon{
  position: absolute;
  top: 35px;
  right: 55px;
  height: 20px;
  width: 20px;
}

.main-page .slideshow .mute-icon svg{
  max-height: 20px;
  max-width: 20px;
}

.main-page .slideshow img {
  height: 100vh;
  width: 69vw;
}

.menu .header {
  color: #fff;
  font-size: 16px;
  line-height: 42px;
  margin: 80px 35px;
  font-weight: 500;
}

.text-section {
  color: white;
  margin: 100px 35px 20px 35px;
  font-weight: 500px;
}

.buttons {
  margin: 35px;
}

.buttons .button {
  background: white;
  height: 88px;
  width: 100%;
  border-radius: 13px;
  margin-bottom: 18px;

  display:flex;
  justify-content: space-between;
}

.button-logo svg{
  stroke: none;
  max-width: 200px;
  max-height: 38px;
  margin-left: 30px;
  margin-top: 25px;
}

.button-arrow {
  margin-top: 25px;
  height: 35px;
  width: 35px;
  margin-right: 30px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
}

.button-arrow svg{
  margin-top: 10px;
}



.buttons .button.one {
  background: linear-gradient(90deg, #fd4f69, #fd879d);
}

.buttons .button.two {
  background: linear-gradient(90deg, #654ea3, #c781d7)
}

.buttons .button.three {
  background: linear-gradient(90deg, #d11547, #ff3369)
}

.footer-container {
  margin-top: 30px;
  height: 31vh;
  width: 96vw;
  display: flex;
  justify-content: space-between;
}


.nav-bar {
  height: 100vh;
  width: 80px;

  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px #0003
}

.nav-bar-logo {
  margin: 22.5px 25px;
}

.social-links {
  margin-right: 106px;
  color: white;
}

.social-links div {
  color:#989898;
  display: flex;
}

.social-links div svg {
  max-width: 20px;
  max-height: 20px;
}

.social-links div div {
  margin: 11px 18px 0 5px;
}

hr {
  width: 55px;
  border: 0.5px solid #e7e7ef;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.info-bar {
  margin-left: 87px;
  color: white;
}

.info-bar-elements { 
  display: inline;
}

.info-bar-elements li {
  float: left;
  color: #989898;
  margin-right: 25px;
}

.info-bar p {
  margin-bottom: 5px;
}

.nav-item {
  margin: 50px 20px;
  text-align: center;
  color:#989898;
  font-size: 12px;
  font-weight: 500;
}

.nav-text {
  margin-top: 5px;
}